

.board {
    margin: 20px auto 0 auto;
    width: 700px;
    height: 700px;
    border: 7px solid rgba(210, 110, 16, 0.992);
    background: linear-gradient(14deg, rgb(35, 95, 28), rgb(0, 54, 9), rgb(80, 213, 80));
    justify-self: center;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    align-content: center;
    text-align: center;
    place-items: center;
    place-content: center;
    
}

.block {
    border: 1px solid darkgray;
    /* padding: 1px 1px; */
    width: 200px;
    height: 200px;
}