<!-- <div class="board">
    <div class="block">x</div>
    <div class="block">x</div>
    <div class="block">x</div>
    <div class="block">o</div>
    <div class="block">o</div>
    <div class="block">o</div>
    <div class="block">x</div>
    <div class="block">x</div>
    <div class="block">x</div>
</div>
<hr> -->
<div class="board"> 
    <app-square [value]="square" [position]="i" *ngFor="let square of squares; let i = index" class="block"></app-square>
</div>
<h4 style="display: flex; justify-content: center">Player: {{ player }}</h4>
<hr>
<span style="display: flex; justify-content: center; font-stretch: extra-expanded;">{{ boardState }}</span>